@model IEnumerable<Checked.Models.Models.Occurrence>

@{
    ViewData["Title"] = "Index";
}
<div class="cntr">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table style="color:white;font-size:13px" class="table table-hover table-sm align-middle">
        <thead class="table-dark">
            <tr>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Harmed)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Document)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Appraiser)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Origin)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    Plano de Ação
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    Status das ações
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.CorrectiveAction)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); "></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Harmed)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Document)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Appraiser.Name)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Origin)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        <a asp-action="Index" asp-controller="Plans" asp-route-id="@item.Id">Action Plan</a>
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        Existe Ações em aberto
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.CorrectiveAction)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
