@using Checked.Models.Models
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Checked.Models.Models.Occurrence>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    var itens = ViewData["actions"];
    var user = await UserManager.GetUserAsync(User);
    var numeroDePaginas = (ViewBag.NumeroDePaginas / 5) + 1;
}
<header>
    <link rel="stylesheet" href="~/css/Occurrence.css" />
    <script>const numeroDePaginas = @numeroDePaginas</script>
    <script type="module" src="~/js/occurrences.js" async></script>
    <script type="module" src="~/js/modules/network.js"></script>

</header>
<div class="cntr">
    <div class="cntr-navegation">
        <a class="btn btn-primary" role="button" asp-action="Create">Criar nova Ocorrência</a>
        <div>
            <i id="filterOccurrence" class='bx bx-filter-alt'></i>
            <nav id="page-navigation" aria-label="Page navigation">
                <ul style="margin:0" class="pagination">
                    <li class="page-item"><button id="increment" class="page-link">Anterior</button></li>
                    <li class="page-item">
                        <a class="page-link number-page" data-page="0" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link number-page" data-page="1" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link number-page" data-page="2" href="#">3</a>
                    </li>
                    <li class="page-item"><button id="decrement" class="page-link">Próximo</button></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="scrollbar" id="style-2">
        <table style="font-size:13px;font-weight: 600;" class="table table-hover table-sm align-middle">
            <thead class="table-dark sticky-top">
                <tr>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Tp_Ocorrencia.Name)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.DateOccurrence)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Additional1)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Additional2)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Harmed)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Document)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Appraiser)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Origin)
                    </th>
                    <th class="tableCell">
                        Plano de Ação
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.StatusActions)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="tableCell">
                        @Html.DisplayNameFor(model => model.CorrectiveAction)
                    </th>
                    <th class="tableCell"></th>
                </tr>
            </thead>
            <tbody id=body-table-occurrence>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Tp_Ocorrencia.Name)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.DateOccurrence)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Additional1)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Additional1)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Harmed)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Document)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Appraiser.Name)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Origin)
                        </td>
                        <td class="tableCell">
                            <a asp-action="Index" asp-controller="Plans" asp-route-id="@item.Id">Plano de ação</a>
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.StatusActions)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td class="tableCell">
                            @Html.DisplayFor(modelItem => item.CorrectiveAction)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-idOccurrence="@item.Id">Editar  |</a>
                            <a asp-action="Details" asp-route-idOccurrence="@item.Id">Detalhes |</a>
                            <a asp-action="Delete" asp-route-idOccurrence="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

