@model Checked.Models.ViewModels.InviteViewModel;

<link rel="stylesheet" href="~/css/Invite.css" />
<div class="cntr-invite">
    <div style="width:40%;">
        <form method="post">
            <input type="hidden" asp-for="OrganizationId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message"></label>
                <textarea asp-for="Message" rows=5 wrap="hard" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Convidar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div style="width: 50%;">
        <h5>Lista de usuario da empresa</h5>
        <table style="color:white;font-size:13px" class="table table-hover table-sm align-middle">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Acesso</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.users != null)
                {
                    @foreach (var item in Model.users)
                    {
                        <tr>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            <td>
                                @foreach (var role in @item.Role)
                                {
                                    @role
                                    ;
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-userId="@item.UserId">Edit</a> |
                                <a asp-action="Detail" asp-route-userId="@item.UserId">Details</a> |
                                <a asp-action="Delete" asp-route-userId="@item.UserId">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>