@model Checked.Models.ViewModels.DashViewModel;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@{
    var data = @Model.DeadLineActions.DeadLine.ToString().Equals("01/01/0001 00:00:00") ? "Sem registros" : @String.Format("{0:dd MMM yyyy}", @Model.DeadLineActions.DeadLine);
    var deadLine = data;
    JsonSerializerOptions options = new()
            {
                ReferenceHandler = ReferenceHandler.IgnoreCycles,
                WriteIndented = false
            };
    var chartCostPerWeek = JsonSerializer.Serialize(@Model.WeekSummary, options);
    var chartOccurrencePerStatus = JsonSerializer.Serialize(@Model.SummaryOccurrencesPerStatuses, options);
    var chartOccurrencePerName = JsonSerializer.Serialize(@Model.SummarryOccurrencePerNames, options);
}

<script>const chartCostPerWeek = @Html.Raw(@chartCostPerWeek) </script>
<script>const chartOccurrencePerStatus = @Html.Raw(@chartOccurrencePerStatus) </script>
<script>const chartOccurrencePerNames = @Html.Raw(@chartOccurrencePerName) </script>
<link rel="stylesheet" href="~/css/dashboard.css" />

<div class="cntr">
    <div class="welcome">
        <h2 class="hEmpresa text-primary">Olá, @Model.UserName</h2>
        <div style="display:flex;justify-content:space-between">
            <p class="text-warning">Aqui esta um resumo das suas ocorrências</p>
            <!-- <p>Filtro</p>-->
        </div>
    </div>
    <hr />
    <div class="dashboard">
        <div class="box" style="grid-area: A">
            <div>
                <h5>Total de Ocorrencias</h5>
            </div>
            <div>
                <div class="info-box">
                    <span>Occurrences</span>
                    <span>@Model.OccurrenceSummary.Count</span>
                </div>
                <div class="info-box">
                    <span>Custos</span>
                    <span>@String.Format("{0:C}",@Model.OccurrenceSummary.TotalCost)</span>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: B">
            <div>
                <h5>Planos criados</h5>
            </div>
            <div>
                <div class="info-box">
                    <span>Planos</span>
                    <span>@Model.PlanSummary.PlanCriados</span>
                </div>
                <div class="info-box">
                    <span>Encerrados</span>
                    <span>@Model.PlanSummary.QuantEncerrados</span>
                </div>
                <div class="info-box">
                    <span>Custo Total</span>
                    <span>@String.Format("{0:C}",@Model.PlanSummary.CustoTotal)</span>
                </div>
            </div>
        </div>
        <div class="box" style="grid-area: C">
            <div>
                <h5>Ações criadas</h5>
            </div>
            <div>
                <div class="info-box">
                    <span>Total</span>
                    <span>@Model.Summary.Sum(o => o.Quantidade)</span>
                </div>
                @foreach (var item in @Model.Summary)
                {
                    <div class="info-box">
                        <span>@item.Tipo</span>
                        <span>@item.Quantidade</span>
                    </div>
                }
            </div>
        </div>
        <div class="box" style="grid-area: D">
            <div>
                <h5>DeadLine</h5>
            </div>
            <div>
                <div class="info-box">
                    <span>@Model.DeadLineActions.Name</span>
                </div>
                <div>
                    @if (!@Model.DeadLineActions.DeadLine.ToString().Equals("01/01/0001 00:00:00"))
                    {
                        <span>DeadLine em </span>
                    }
                    <span> @deadLine</span>
                </div>
            </div>
        </div>
        <div class="graph graphPie" style="grid-area: E">
            <!--<div style="width:100%; height:100%" id="comboChart"></div>-->
            <div style="width:100%; height:100%; display:flex; justify-content:center" id="piechart"></div>
        </div>
        <div class="graph" style="grid-area: F">
            <div style="width:100%; height:100%" id="chartArea"></div>
        </div>
        <div class="graph" style="grid-area: G">
            <div style="width:100%; height:100%" id="columnChart"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/charts.js" />

