@model Checked.Models.ViewModels.DashViewModel;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@{
    var data = @Model.DeadLineActions.DeadLine.ToString().Equals("01/01/0001 00:00:00") ? "Sem registros" : @String.Format("{0:dd MMM yyyy}", @Model.DeadLineActions.DeadLine);
    var deadLine = data;
    JsonSerializerOptions options = new()
            {
                ReferenceHandler = ReferenceHandler.IgnoreCycles,
                WriteIndented = false
            };
     var dataCharts = JsonSerializer.Serialize(@Model.Occurrences, options);
}

<head>
   <script type="text/javascript">const dataCharts = @Html.Raw(@dataCharts)</script> 
<script type="text/javascript" src="~/js/zingchart.min.js"></script>
<script type="text/javascript" src="~/js/zingchart-treemap.min.js"></script>
</head>
<link rel="stylesheet" href="~/css/dashboard.css" />

<div class="cntr">
    <div class="welcome">
        <h2 class="hEmpresa text-primary">Olá, @Model.UserName</h2>
        <div style="display:flex;justify-content:space-between">
            <p class="text-warning">Aqui esta um resumo das suas ocorrências</p>
            <!-- <p>Filtro</p>-->
        </div>
    </div>
    <hr />
    <div class="boxes">
        <section>
            <h1>Total de Ocorrências</h1>
            <div>
                <div class="details">
                    <div><span>Ocorrências</span></div>
                    <div><span>@Model.OccurrenceSummary.Count</span></div>
                </div>
                <div class="details">
                    <div><span>Custo Total</span></div>
                    <div><span>@String.Format("{0:C}",@Model.OccurrenceSummary.TotalCost)0</span></div>
                </div>
            </div>
        </section>
        <section>
            <h1>Planos criados</h1>
            <div>
                <div class="details">
                    <div><span>Planos</span></div>
                    <div><span>@Model.PlanSummary.PlanCriados</span></div>
                </div>
                <div class="details">
                    <div><span>Encerrados</span></div>
                    <div><span>@Model.PlanSummary.QuantEncerrados</span></div>
                </div>
                <div class="details">
                    <div><span>Custo Total</span></div>
                    <div><span>@String.Format("{0:C}",@Model.PlanSummary.CustoTotal)</span></div>
                </div>
            </div>
        </section>
        <section>
            <h1>Ações criadas</h1>
            <div>
                <div class="details">
                    <div><span>Total</span></div>
                    <div><span>@Model.Summary.Sum(o => o.Quantidade)</span></div>
                </div>
            </div>
            @foreach (var item in @Model.Summary)
            {
                <div class="info-box">
                    <span>@item.Tipo</span>
                    <span>@item.Quantidade</span>
                </div>
            }
        </section>
        <section>
            <h1>DeadLine</h1>
            <div>
                <div class="details">
                    <div><span>@Model.DeadLineActions.Name</span></div>
                    @if (!@Model.DeadLineActions.DeadLine.ToString().Equals("01/01/0001 00:00:00"))
                    {
                        <span>Prazo: </span>
                    }
                    <div><span>@deadLine</span></div>
                </div>
            </div>
        </section>
    </div>
    <hr />
    <div class="selects">
        <div class="input-group mb-3">
            <label class="input-group-text" for="options">Mostrar como:</label>
            <select  class="form-select" name="options" id="options">
                <option value="Tp_Ocorrencia" selected>Tipo de Ocorrência</option>
                <option value="Harmed">Prejudicado</option>
                <option value="Origin">Origem</option>
                <option value="Status">Status</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="optionsCost">Mostrar como:</label>
            <select class="form-select" name="optionsCost" id="optionsCost">
                <option value="Count">Contagem de registros</option>
                <option value="Somar" selected>Soma de Custo</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="charts">
            <section style="grid-area: a">
                <div id='myChart'></div>
            </section>
            <section  style="grid-area: b">
                <div id='myChart2'></div>
            </section>
            <section style="grid-area: d">
                <div class="selects">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="options-date">Mostrar como:</label>
                        <select class="form-select" name="options-date" id="options-date">                            
                            <option value="DateOccurrence">Por data da Ocorrência</option>
                            <option value="CreatedAt">Por data cadastro</option>                           
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="optionsSumMonth">Mostrar como:</label>
                        <select class="form-select" name="optionsSumMonth" id="optionsSumMonth">
                            <option value="Count">Contagem de registros</option>
                            <option value="Somar" selected>Soma de Custo</option>
                        </select>
                    </div>
                </div>
                <div id='myChart3'></div>
            </section>
            <section style="grid-area: c">
                <div id='myChart5'>
                </div>
            </section>
        </div>
</div>
<script type="text/javascript" src="~/js/charts.js" />

