@using Checked.Models.Types
@model IEnumerable<Checked.Models.Models.Plan>
@{
    ViewData["Title"] = "Planos";
    //@Html.ViewContext.RouteData.Values["id"]
}


<div class="cntr">
    <div style="color:white">
        <h4>@ViewData["Title"]</h4>
        <hr />
    </div>
    <table style="color:white;font-size:13px" class="table table-hover table-sm align-middle">
        <thead class="table-dark">
            <tr>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Occurrence.Description)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Objective)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Goal)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.Accountable)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    @Html.DisplayNameFor(model => model.CostTotal)
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    Ações
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    Total de ações
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    Ações em Aberto
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                    Ações encerradas
                </th>
                <th style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); "></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Occurrence.Description)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Objective)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @String.Format("{0: dd MMM yyyy}",item.Goal)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @Html.DisplayFor(modelItem => item.Accountable)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @String.Format("{0:C2}",item.CostTotal)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        <a asp-action="Index" asp-route-planId="@item.Id">Verificar Ações</a>
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @item.Actions.Count()
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @item.Actions.Count(c => c.TP_StatusId == (int)TP_StatusEnum.Aberto)
                    </td>
                    <td style="border-right:1px solid; border-right-color: rgb(247, 239, 251, .4); ">
                        @item.Actions.Count(c => c.TP_StatusId == (int)TP_StatusEnum.Encerrado)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-planId="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-planId="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-planId="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>