@model Checked.Models.Models.Action

@{
    ViewData["Title"] = "Details";
}
<div class="cntr" style="color:white">
    <h1>Details</h1>

    <div style="width:40%">
        <h4>Action</h4>
        <hr />
        <dl class="row">            
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.What)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.What)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.Why)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Why)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.Where)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Where)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.Who)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Who)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.Init)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Init)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.Finish)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Finish)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.NewFinish)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NewFinish)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.How)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.How)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.HowMuch)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HowMuch)
            </dd>
            <div style="border-bottom:1px solid white"></div>
            <dt class="col-sm-2" style="width: max-content;">
                @Html.DisplayNameFor(model => model.TP_Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TP_Status.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-actionId="@Model?.Id" asp-route-OccurrenceId="@Model.OccurrenceId">Editar</a> |
        <a asp-controller="Plans" asp-route-planId=@Model.PlanId asp-action="Index">Voltar para lista</a>
    </div>
</div>
