@model Checked.Models.Models.Action

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Action</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accountable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accountable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Init)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Init)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.What)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.What)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Why)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Why)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Where)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Where)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Who)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Who)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.When)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.When)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.How)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.How)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HowMuch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowMuch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TP_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TP_Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
